2to3==1.0
alembic==1.0.9
app==0.0.1
Babel==2.7.0
bcrypt==3.1.6
bcrypt-tool==1.0
beautifulsoup4==4.7.1
blinker==1.4
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cssutils==1.0.2
csvalidate==1.1.1
cycler==0.10.0
DateTime==4.3
dominate==2.3.5
email-verifier==1.0.0
emails==0.5.15
facepy==1.0.10
fb-scrape-public==1.0.10
flashtext==2.7
Flask==1.0.2
flask-ad-auth==0.3
Flask-Admin==1.5.3
flask-admin-barin==0.0.1
flask-admin-lite==0.1.0
Flask-Admin-Subview==0.1.1
Flask-Administration==0.1.42
Flask-Babel==0.12.2
Flask-BabelEx==0.9.3
Flask-Bcrypt==0.7.1
flask-blueprint==1.2.7
Flask-Bootstrap==3.3.7.1
Flask-BS4==4.3.1
Flask-CSV==1.2.0
Flask-Email==1.4.4
flask-emails==0.4.2
Flask-EmailVerifier==0.1.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-MySQL==1.4.0
flask-paginate==0.5.2
Flask-Principal==0.4.0
Flask-pymysql==0.2.3
Flask-Security==3.0.0
flask-send-mail-util==0.1.0
Flask-Sendmail==0.1
Flask-SQLAlchemy==2.3.2
Flask-Table==0.5.0
Flask-WTF==0.14.2
future==0.17.1
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.3
Mako==1.0.9
MarkupSafe==1.1.1
marshmallow==2.19.2
matplotlib==3.0.3
mesh-tensorflow==0.0.5
mysql-connector-python==8.0.16
nltk==3.4
numpy==1.16.2
pandas==0.24.2
passlib==1.7.1
phonenumbers==8.10.12
premailer==3.4.1
protobuf==3.18.3
pycparser==2.19
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-editor==1.0.4
python-http-client==3.1.0
pytz==2018.9
PyYAML==5.1
recordtype==1.3
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
send-email==201212
send-email-message==0.1.5
send-html-email==1.0.0.6
sendgrid==6.0.4
SendingMails==0.0.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
sklearn-pandas==1.8.0
soupsieve==1.9
speaklater==1.3
SQLAlchemy==1.3.3
textblob==0.15.3
unicodecsv==0.14.1
urllib3==1.24.1
urlparse2==1.1.1
urlparse3==1.1
urlparser==0.1.2
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.2.1
zope.interface==4.6.0
