<!doctype html>
<html>

<head>
	<title>Admin update</title>
 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
 </head>
<body>


         <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header"> <p class="navbar-brand" >Social Media posts Sentiment Classifier (SPSC)</p>
             </div>

             <div>
               <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>

                  <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b> </a>
                   <ul class="dropdown-menu">
                    <li><a href="/admin_upload">Update Model</a></li>
                    <li><a href="/main">Test Model</a></li>
                    <li><a href="{{ url_for('admin.index') }}">modify user</a></li>


                        </ul>
                    </li>
                     </ul>
                 </div>
             <div class="navbar-header" style="color: white;float:right;"><a href="/admin_logout" style="float:right;"> <p class="navbar-brand"  >logout</p></a>
            </div>
             </nav>



<div style="margin-left:10px;marigin-right:10px;margin-top:5px;">

<h1>Update and Save the Classifier with new Data</h1><br><br>
    <strong style="color:red;" >{{message}}</strong>
<form action="" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Update_Classifier>
    </form>
   <br>

</div>

 <!-- Javascript -->
        <script src="static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="static/assets/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>