<!DOCTYPE html>  
<html>  
<head>  
    <title>delete record</title>  
</head>  
<body>
<div style="margin-left:500px;margin-top: 35px;">

    <h3>change password</h3>

    <h3>{{msg}}</h3>

<form action="/update_pass" method="post">
Enter Username<input type="text" name="username" required>
Enter email <input type="text" name="email">
Enter new password <input type="password" name="pass">
<input type="submit" value="change password">
</form><br><br><br>
<a href="/">Go back to admin panel</a>
    </div>
</body>  
</html>
