<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>fname</td>
            <td>lname</td>
            <td>email</td>
            <td>tell-number</td>
            <td>username</td>
            <td>password</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["fname"]}}</td>
               <td>{{row["lname"]}}</td>
               <td>{{row["email"]}}</td>
               <td> {{ row["tellnumber"]}}</td>
               <td>{{row['username']}}</td>
               <td>{{row['password']}}</td>

            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>
   </body>
</html>