<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home page</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

        <body style="background-color:white;">
<nav class="navbar navbar-inverse">
    		<div class="navbar-header" style="color: white;"> <p class="navbar-brand" >Social Media posts Sentiment Classifier (SPSC)</p>
    		</div>
    <div class="navbar-header" style="color: white;"><a href="/"> <p class="navbar-brand" >Home</p></a>
            </div>
   <!-- <div class="navbar-header" style="color: white;"><a href="/adminlogin"> <p class="navbar-brand" >admin login</p></a>
            </div>-->

    			     </nav>
        <!-- Top content -->

                <div class="container" style="background-color:#F5F5F5;">

                    <div class="row" style="color:black;">
                        <div class="col-sm-8 col-sm-offset-2 text" style="color:black;">
                             <h1><strong style="color:black;"> SOCIAL MEDIA POSTS SENTIMENT CLASSIFIER</strong></h1>
                            <div class="description" style="color:black;">

                                <p style="color:black;">
                                   Click the button below to login or Register and classify with the <strong>"Social Media Post Sentiment Classifier(SPSC)"</strong>.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="">
                           <div class="col-sm-4"></div>
                        <div class="col-sm-5">

                            <div class="form-box">

	                            <p> <a href="/user_login"><button type="button" class="btn btn-primary btn-lg"> Click to Login </button></a>
		                    </div>



                        </div>








                    </div>

                </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">

        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>BSE19-5 </a>
        					. <i class="fa fa-smile-o"></i></p>
        			</div>


        </footer>

        <!-- Javascript -->
        <script src="static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>