<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Post</title>
      <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav class="navbar navbar-inverse">
            <div class="navbar-header" style="color: white;"> <p class="navbar-brand" >Social Media posts Sentiment Classifier (SPSC)</p>
            </div>
           <div>
               <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>

                  <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown">Download Posts and Comment <b class="caret"></b> </a>
                   <ul class="dropdown-menu">
                    <li><a href="/get_data">Public posts</a></li>
                    <li><a href="/comment">Public comments</a></li>
                    <li><a href="/private_data">Private comments</a></li>

                        </ul>
                    </li>
                     </ul>
                 </div>
              <div class="navbar-header" style="color: white; float:right;"><a href="/user_logout"> <p class="navbar-brand" >logout</p></a>
            </div>

                     </nav>


<center>

<h1>Download Public page Posts</h1>
<form method="POST" action="/">
    <label>App id</label>
    <br><input type="text" name="app_id" value={{request.form.app_id}}></br>
    <label>App secrete</label>
<br><input type="text" name="app_secret" value={{request.form.app_secret}}></br>
    <label>Page id</label>
<br><input type="text" name="page_id" value={{request.form.page_id}}></br>
   <label>Since date</label>
            <br><input type="date" name="since_date" value={{request.form.since_date}} placeholder="YYYY-MM-DD"> </br>
    <label>Until date</label>
            <br><input type="date" name="until_date" value={{request.form.until_date}} placeholder="YYYY-MM-DD" ></br>
<br><input type="submit"></br>
</form>
    <br><br><br>
    <strong><a href="/main"><span>&#8592;</span>Go Back to classify</a></strong>

    </center>
<!-- Javascript -->
        <script src="static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>


            <script src="static/assets/js/placeholder.js"></script>
</body>
</html>