<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upload File</title>
     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
         <nav class="navbar navbar-inverse">
            <div class="navbar-header" style="color: white;"> <p class="navbar-brand" >Social Media posts Sentiment Classifier (SPSC)</p>
            </div>
           <div class="navbar-header" style="color: white;"><a href="/"> <p class="navbar-brand" >Home</p></a>
            </div>
              <div class="navbar-header" style="color: white;float:right;"><a href="/user_logout"> <p class="navbar-brand" style="float:right;" >logout</p></a>
            </div>

                     </nav>


<div class="container" style="margin-left:20px;margin-right:20px;background-color:white;height:50%;margin-top:10px;">


    <div style="margin-top:7%;margin-left:10%;">
    <h1>Upload CSV File</h1>
    <form  action="{{ url_for('upload_file1')}}" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
<div id='button'>
<form action="/bar" method="post">
     <input type=hidden value='{{ predict }}' name='predict'>
    </form>
    </div>
        <br><br><br>
       <a href="/main"><span>&#8592;</span>Go back</a>
</div>

    </div>
</body>
</html>