<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
</head>  
<body>  


<table class="table table-bordered">
    <h3 style="text-align:center">User Information</h3>
    <thead style="text-size:30px;color:black;">
    <tr  >
        <td>ID</td>
        <td>first name</td>
        <td>last name</td>
        <td>Email</td>
        <td>Tellnumber</td>
        <td>username</td>
        <td>user type</td>
    </tr>
    </thead>
    <tbody style="color:black;">
    {% for row in rows %}
    <tr>
       <td>{{row["ID"]}}</td>
            <td>{{row["fname"]}}</td>
            <td>{{row["lname"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["tellnumber"]}}</td>
            <td>{{row["username"]}}</td>
            <td>{{row["user_type"]}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br><br>  
  
<a href="/admin_panel">Go back to admin panel</a>
  
</body>  
</html>  